.search {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input {
    width: min(300px, 50vw);
    margin: 15px 0px;
    align-self: center;
    & > * {
        text-align: center !important;
        color: #9e9e9e;
        padding: 14px;
        font-size: 18px !important;
    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    margin: 10px 0;
    max-height: 100vh;
    overflow:scroll;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 20px;
}